{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <style>
        body {
            background-color: #f8f9fa;
        }
        .blue-bg {
            background-color: #0a4174;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 20px;
            padding-left: 50px;
            color: white;
            position: relative;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .blue-bg h1 {
            margin: 0;
        }
        .info-cards {
            margin-top: 30px;
        }
   




        .box {
            background-color: white;
            padding: 20px;
            height: 100%;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        .chart-container {
            position: relative;
            height: 100%;
            width: 100%;
        }

        #membresParBrancheChart{
            width:350px !important;
            height:350px !important;
        }

        .chartjs-legend li span {
    font-size: 1.2em !important;
    display: block;
    margin: 5px 0;}

        #map {
            position: relative;
            z-index: 0;
        }
        #map-container, .chart-container-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
      
        .leaflet-popup {
            width: 300px;
            height: max-content;
            background-color: white;
            font-size:1rem !important;
        }
        .leaflet-popup-content-wrapper {
            width: 300px;
            height: max-content;
            background-color: white;
        }
         .leaflet-popup-content.leaflet-popup-scrolled {
            width: 300px !important ;
            height: max-content  !important;
            margin:0;
        }


        .popup-content{
            width: 200px;
            height: max-content;

        }

     
        .unit {
            padding: 10px;
            background-color: #fff;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            width: 300px;
    height: 55px;
    margin-bottom: 0px !important;
        }

        .unit button{
            padding:0;
            height: max-content;
            width:100px;
        }
    
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="blue-bg">
                <h1>Welcome</h1>
                <img src="{{ asset('images/scouts2.png') }}" style="position: absolute; right: 20px; top: -20px; " class="img">
            </div>
        </div>
    </div>
    <section class="statis mt-3 text-center">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="box p-3">
                    <h3>{{ totalMembres }}</h3>
                    <p class="lead">Membres</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="box p-3">
                    <h3>{{ totalGroupeUnite }}</h3>
                    <p class="lead">Groupes d'unités</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <div class="box p-3">
                    <h3>{{ totalUnite }}</h3>
                    <p class="lead">Unités</p>
                </div>
            </div>
        </div>
    </section>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="box p-3">
                <h2>Nombre de membres par branche :</h2>
                <div class="chart-container">
                    <canvas id="membresParBrancheChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box p-3">
                <div id="map" style="height: 500px;"></div>
            </div>
        </div>
    </div>
</div>

<script>
//autoscape=récupéré par javascript. Ici c'est parce que ce sont des pourcentages
    {% autoescape 'js' %}
    var membresParBrancheData = JSON.parse('{{ membresParBranche|json_encode|raw }}');
    {% endautoescape %}
    
    var labels = membresParBrancheData.map(data => `${data.branche} (${data.percentage}%)`);
    var data = membresParBrancheData.map(data => data.total);
//utilisation de chartjs
    var ctx = document.getElementById('membresParBrancheChart').getContext('2d');
    var membresParBrancheChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: labels,
            datasets: [{
                label: 'Membres',
                data: data,
                backgroundColor: [
                    '#00a0dd',
                    '#296f52',
                    '#004f9e',
                    '#d4021d',
                ],
                hoverBackgroundColor: [
                    '#00a0dd',
                    '#296f52',
                    '#004f9e',
                    '#d4021d',
                ]
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: true,
                    position: 'bottom'
                }
            }
        }
    });
//map avec leaftlet sur laquelle j'affiche le nom des régions
    var map = L.map('map').setView([50.8503, 4.3517], 7); //'zoomer' sur la Belle Belgique!
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    {% for groupe in groupeUnite %}
    //je n'ai pas de données longitute/latitude donc j'utilise nomunatim pour rechercher une région en belgique
    //a changer parce que ca ne récupère pas toutes les données
        fetch(`https://nominatim.openstreetmap.org/search?format=json&q={{ groupe.name }}, Belgium`)
        .then(response => response.json()) //récupérer en json
        .then(data => {
            if (data.length > 0) {
                var latLng = [data[0].lat, data[0].lon];//récupérer longitude et latitude
                var marker = L.marker(latLng)
                    .addTo(map)
                    //pop up quand on clique sur un des marqueurs
                    .on('click', function () {
                        var popupContent = `
                            <div class="popup-content">
                                <h2>{{ groupe.name }}</h2>
                                <div class="unit-list">
                                    {% for unite in groupe.WsUnites %}
                                        <div class="unit d-flex justify-content-between align-items-center mb-3">
                                            <span>{{ unite.name }}</span>
                                            <a href="{{ path('wsUnite', { id: unite.id }) }}" class="btn btn-success" style="background-color: #43BC18;">Voir</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        `;
                        var popupOptions = {
                            maxWidth: '300',
                            maxHeight: '200'
                        };
                        var popup = L.popup(popupOptions)
                            .setLatLng(marker.getLatLng())
                            .setContent(popupContent)
                            .openOn(map);
                    });
            } else {
                console.error('No data found for:', '{{ groupe.name }}');
            }
        })
        .catch(error => console.error('Error with geocoding:', error));
    {% endfor %}
</script>

{% endblock %}
