{% extends 'base.html.twig' %}

{% block title %}Unite {{unite.name}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <style>
.box {
    
  width:100%;
  height:100%;
 
}

.branch-info{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    
   
 
}


    </style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="unit-info text-white p-3 mb-5" style="background-color: #B8E4E2;">
        <h1 class="mt-2">Bienvenue sur l'unité de {{ unite.name }} !</h1>
        
        <div>
            <button type="button" class="btn btn-info" id="show-all-members">{{ nombreMembres }} membres</button>
        </div>
    </div>

    <div class="statis mt-3 text-center">
        <div class="row">
            {% for branche_data in branches %}
                <div class="col-6 col-md-3 mb-3 branch-info" data-branch-id="{{ branche_data.branche | lower }}">
                    <div class="box p-3">
                        <img src="/images/{{ branche_data.branche }}.png" alt="{{ branche_data.branche }}" class="img-fluid mb-2">
                        <h3>{{ branche_data.total }}</h3>
                        <p class="lead">{{ branche_data.branche }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <h1>Liste des membres</h1>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Unité</th>
                        <th>Branche</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in unite.WsSections %}
                        {% for membre in section.WsMembres %}
                            <tr class="branch-member branch-{{ membre.section.branche.name | lower }}">
                                <td>{{ membre.prenom }}</td>
                                <td>{{ membre.nom }}</td>
                                <td>{{ membre.email }}</td>
                                <td>{{ membre.section.unite.name }}</td>
                                {% if membre.section.branche.name == 'Baladins' %}
                                    <td class="badge badge-info">{{ membre.section.branche.name }}</td>
                                {% elseif membre.section.branche.name == 'Eclaireurs' %}
                                    <td class="badge badge-primary">{{ membre.section.branche.name }}</td>
                                {% elseif membre.section.branche.name == 'Louveteaux' %}
                                    <td class="badge badge-success">{{ membre.section.branche.name }}</td>
                                {% else %}
                                    <td class="badge badge-danger">{{ membre.section.branche.name }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Inclure jQuery pour faciliter l'utilisation des requêtes AJAX -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        // par défaut, j'affiche la lste de tous les membres
        $('.branch-member').show();


        // mais si je clique sur une des cartes
        $('.branch-info').click(function() {

             //je retire la class active de toutes les cartes (si jamais)
    $('.branch-info').removeClass('active');

    // et je l'ajoute à la carte sélectionnée qui prend alors la class active
    $(this).addClass('active');

      $('.branch-' + branchId).addClass('active');
            //je récupère l'id de la carte pour pouvoir l'utiliser après 
            var branchId = $(this).data('branch-id');
            
            
            
            // je cache tous les 
            $('.branch-member').hide();
            
            // j'utilise l'id récupérer plus tôt pour montre que les membres de cette branche
            $('.branch-' + branchId).show();           
        });

        // Afficher tous les membres lorsque le bouton est cliqué
        $('#show-all-members').click(function() {
            $('.branch-member').show();
            $('.branch-info').removeClass('active');
        });
    });

    // Fonction pour associer chaque nom de branche à une couleur
    function branchColor(branchName) {
        switch (branchName.toLowerCase()) {
            case 'baladins':
                return 'info';
            case 'eclaireurs':
                return 'primary';
            case 'louveteaux':
                return 'success';
            default:
                return 'danger';
        }
    }
</script>
{% endblock %}
